<template>

    <div class="beer">

        <img class="beer-img" :src="beer.image_url || '//via.placeholder.com/75x150'">

        <p class="beer-title">{{ beer.name }}</p>

    </div>

</template>

<script setupe lang="ts">
    export default {
        props: [
            'beer'
        ]
    };
</script>

<style>
    .beer {
        text-align: center;
        background-color: #fff;
        border-radius: .33rem;
        box-shadow: 2px 2px 11px 0px #416a6e42;
        transition: all 0.2s ease;
    }
    .beer-img {
        height: 150px;
        margin-top: 16px;
    }
    .beer-title {
        margin: 16px 10px;
        line-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>