<template>

    <h1>Buscador de cervezas</h1>

</template>

<style>
    h1 {
        text-align: center;
        background: linear-gradient(116.42deg, #1DA1F1 15.54%, #32C9AC 83.4%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        margin: 60px 0;
    }
</style>