body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F2FBFC;
}
#buscador {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  height: 60px;
  border-radius: .33rem;
  border: 0;
  box-shadow: 2px 2px 11px 0px #416a6e42;
  font-size: 24px;
  padding: 0 16px;
  color: #143f44;
}
.beers {
  width: 95%;
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 218px;
  gap: 20px;
}
.paginacion {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.paginacion button {
  background: linear-gradient(116.42deg, #1DA1F1 15.54%, #32C9AC 83.4%);
  width: 180px;
  height: 50px;
  border: 0;
  border-radius: .33rem;
  color: white;
  font-weight: 700;
  font-size: 20px;
  transition: all .2s ease;
}
.paginacion button:hover {
  cursor: pointer;
  transform: scale(1.015);
}
.paginacion button:active {
  cursor: pointer;
  transform: scale(0.985);
}
.paginacion button:disabled {
  background: linear-gradient(116.42deg, #b4c3cd 15.54%, #9ea9a7 83.4%);
}