<script setup lang="ts">
    import Header from "./components/Header.vue";
    import CervezaItem from "./components/CervezaItem.vue";
    import axios from "axios";
</script>


<template>

    <Header/>

    <input id="buscador" type="search" placeholder="¿Qué 🍺 buscas?" v-on:keyup="changeKeyword()">

    <div class="beers">
        <CervezaItem v-for="beer in beers" :beer="beer" />
    </div>

    <div class="paginacion">
        <button id="pag-prev" v-on:click="prevPage()" :disabled="page < 2">Anterior</button>
        <p>Página {{ page }}</p>
        <button id="pag-next" v-on:click="nextPage()" :disabled="Object.keys(beers).length < 6">Siguiente</button>
    </div>

</template>

<script setupe lang="ts">
    export default {
        data () {
            return {
                page: 1,
                keyword: "",
                beers: {}
            }
        },
        methods: {
            getBeers: function() {
                const buscador = document.getElementById('buscador') as HTMLInputElement
                this.keyword = buscador.value

                let beerNameQuery = (this.keyword.length > 0) ? '&beer_name=' + this.keyword : ''

                axios
                    .get('https://api.punkapi.com/v2/beers?page=' + this.page + '&per_page=6' + beerNameQuery)
                    .then(response => (this.beers = response.data))
            },
            prevPage: function() {
                this.page--
                this.getBeers()
            },
            nextPage: function() {
                this.page++
                this.getBeers()
            },
            changeKeyword() {
                this.getBeers()
            }
        },
        mounted () {
            this.getBeers()
        }
    };
</script>

<style>
    @import './assets/base.css';
</style>